.bgImage{
    background: url('./projects/bgProjects.png');
}

.galleryContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.galleryContainerMax {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    grid-template-rows: repeat(2, 300px);
}