/* Personalización de la barra de desplazamiento */
.resumeItemsContainer {
    /* La propiedad `overflow-y` ya está aplicada desde el JSX para habilitar el scroll */
    overflow-y: auto; /* Asegura que el scroll vertical solo aparezca cuando sea necesario */
}

/* Estilos de la barra de desplazamiento */
.resumeItemsContainer::-webkit-scrollbar {
    width: 4px; /* Ancho de la barra de desplazamiento */

}

/* Estilos de la "thumb" de la barra de desplazamiento (la parte que se mueve) */
.resumeItemsContainer::-webkit-scrollbar-thumb {
    background-color: #54c0e1; /* Color de la barra (celeste en este caso) */
    border-radius: 10px;
    
}

/* Estilos del área de la barra de desplazamiento */
.resumeItemsContainer::-webkit-scrollbar-track {
    background-color: none; /* Color del fondo de la barra */
    border-radius: 10px;
    
}

.buttonGenerateOrder:hover .valueButtonGenerateOrder{
    color: #272727;
}
.buttonGenerateOrder:hover{
    background: #eeeeee;
}